h1 {
  text-align: left;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container{
  width: 25%;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.image{
  width: 200px;
  margin: 20px;
}

.info-container{
  text-align: left;
}

.author-image{
  width: 20%;
  border-radius: 50%;
}

.audio{
  color: grey;
}

.preview{
  color: grey;
}
